@model DatabaseLibrary.Applicant

@{
    ViewBag.Title = "Main";
}

<h2>Admission page</h2>

<h3>Applicants:</h3>
<table class="fancytable">
    <tr>
        <th>Cnp</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>FatherInitial</th>
        <th>City</th>
        <th>Locality</th>
        <th>SchoolName</th>
        <th>TestMark</th>
        <th>AvgExamen</th>
        <th>DomainMark</th>
        <th>GeneralAverage</th>
    </tr>
    @foreach(DatabaseLibrary.Applicant applicant in ViewBag.Applicants){
        <tr>
            <td>@applicant.Cnp</td>
            <td>@applicant.FirstName</td>
            <td>@applicant.LastName</td>
            <td>@applicant.FatherInitial</td>
            <td>@applicant.City</td>
            <td>@applicant.Locality</td>
            <td>@applicant.SchoolName</td>
            <td>@applicant.TestMark</td>
            <td>@applicant.AvgExamen</td>
            <td>@applicant.DomainMark</td>
            <td>@applicant.GeneralAverage</td>
        </tr>
    }
</table>

<h3>Results:</h3>
<table class="fancytable">
    <tr>
        <th>Cnp</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>FatherInitial</th>
        <th>TestMark</th>
        <th>AvgExamen</th>
        <th>DomainMark</th>
        <th>GeneralAverage</th>
        <th>Result</th>
    </tr>
    @foreach(DatabaseLibrary.Result result in ViewBag.Results){
        <tr>
            <td>@result.applicant.Cnp</td>
            <td>@result.applicant.FirstName</td>
            <td>@result.applicant.LastName</td>
            <td>@result.applicant.FatherInitial</td>
            <td>@result.applicant.TestMark</td>
            <td>@result.applicant.AvgExamen</td>
            <td>@result.applicant.DomainMark</td>
            <td>@result.applicant.GeneralAverage</td>
            <td>@result.result</td>
        </tr>
    }
</table>

<h3>Insert/Update/Delete applicants:</h3>
@using (Html.BeginForm("Index", "Main", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Cnp)</td>
            <td>@Html.TextBoxFor(model => model.Cnp)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.FirstName)</td>
            <td>@Html.TextBoxFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.LastName)</td>
            <td>@Html.TextBoxFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.FatherInitial)</td>
            <td>@Html.TextBoxFor(model => model.FatherInitial)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.City)</td>
            <td>@Html.TextBoxFor(model => model.City)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Locality)</td>
            <td>@Html.TextBoxFor(model => model.Locality)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.SchoolName)</td>
            <td>@Html.TextBoxFor(model => model.SchoolName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.TestMark)</td>
            <td>@Html.TextBoxFor(model => model.TestMark)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.AvgExamen)</td>
            <td>@Html.TextBoxFor(model => model.AvgExamen)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.DomainMark)</td>
            <td>@Html.TextBoxFor(model => model.DomainMark)</td>
        </tr>
    </table>
    <p>
        <input type="submit" name="submitAction" value="@WebApp.Constants.InsertApplicant" />
        <input type="submit" name="submitAction" value="@WebApp.Constants.UpdateApplicant" />
        <input type="submit" name="submitAction" value="@WebApp.Constants.DeleteApplicant" />
        <input type="submit" name="submitAction" value="@WebApp.Constants.RepopulateDB" />
    </p>
}